{% extends 'base.html' %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/conjugator.js') }}"></script>
{% endblock %}

{% block content %}
<div id="verb-life">
    <h1 id="selected-element" class="display-1 text-center"></h1>
    <div class="row button-bar">
        <button class="btn btn-primary col" id="next">Next</button>
    </div>

    <div class="row">
        <button class="btn hint-button col" type="button" data-bs-toggle="collapse" data-bs-target="#grammar-type" aria-expanded="false" aria-controls="grammar-type">Grammar</button>
    </div>
    <dl id="grammar-type" class="row collapse">
        <dt id="selected-mood" class=" col-sm-4 offset-sm-2"></dt>
        <dd id="selected-tense" class="col-sm-5"></dd>
    </dl>
    <div class="row">
        <button class="btn hint-button col" type="button" data-bs-toggle="collapse" data-bs-target="#def-container" aria-expanded="false" aria-controls="def-container">Definition</button>
    </div>
    <dl id="def-container" class="row collapse">
        <dt id="infinitive" class="col-sm-4 offset-sm-2"></dt>
        <dd id="definition" class="col-sm-5"></dd>
    </dl>
    <div class="row">
        <button class="btn hint-button col" type="button" data-bs-toggle="collapse" data-bs-target="#tense-container" aria-expanded="false" aria-controls="tense-container">Other Conjugations</button>
    </div>  
    <div id="tense-container" class="collapse row">
        <ul id="tense-conjugation" class="tense-container list-elegant offset-sm-2"></ul>
    </div>
    <div class="row">
        <button class="btn hint-button col" type="button" data-bs-toggle="collapse" data-bs-target="#full-container" aria-expanded="false" aria-controls="full-container">All Tenses</button>
    </div>
    <div id="full-container" class="collapse">
        <div id="full-conjugation" class="accordian"></div>
        <ul id="full-conjugation-ul" class="list-elegant">
        </ul>
    </div>
    <div class="row">
        <button class="btn hint-button col" type="button" id="get-examples">Get Examples</button>
    </div>
    <div id="examples"></div>
{% endblock %}
