{% extends 'barebase.html' %}

{% block body %}
<section class="content">
    <body>
        <div id="content">
        	{% block topmatter %}{% endblock %}
    		{% block content %}{% endblock %}
        	{% block footer %}{% endblock %}
	    </div>
    </body>
</section>
{% endblock %}