{% extends 'base.html' %}
{% block content %}
<h1>Kevin's French</h1>
<p>
This is inspired by Catherine Robinson, who is always flashing cards.
</p>
<ul class="list-elegant">
    <li>
        <a href="/verbs/conjugator">Verb Conjugations</a>
    </li>
</ul>
{% endblock %}