
.error {
    color: #ff0000;
}

.error-highlight {
    background-color: #ffcccc;
    border: 1px solid #aa0000;
}

.emphasis{
    font-weight: 400;
    font-size: 1.1em;
}

.insignificant{
    font-size: .8em;
}

.list-elegant{
    color: #606060;
	list-style-type: none;
	list-style: none;
    padding-top: 5px;
}

.list-elegant li{
    padding-left: 5px;
    padding-top: 2px;
}

.list-elegant a{
    text-decoration:none;
}

#content{
    max-width: 800px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}


.response-dialog{
    width: 500px;
    height: 400px;
}

h3{
    font-weight: 400;
    font-size: 1.35em;
}

.inline-div{
    display: inline-block;
    margin-right:15px;
}

label, .label{
    font-weight: 700;
    color: #333;
}

.information{
    font-weight: 200;
    color: #666;
    margin-top: 5px;
    margin-bottom: 5px;
}

.flexnav{
    display: flex;
}

.right-justify{
    margin-left: auto;
    justify-content: right;
}
.left-justify{
    align-items: flex-start;
    justify-content: left;
}
/* general styling */
.button-bar{
    margin-top:25px;
    margin-bottom:25px;
}

.indent{
    margin-left: 25px;
}

/* Styling for conjugation.html */
.conjugation{
    font-style: oblique;
}

#selected-element{
    padding: 30px;
    border:1px solid #666;
    border-radius: 25px;
}

#grammar-type, #def-container{
    font-weight: 300px;
    margin:10px;
}

.hint-button{
    display:block;
    margin-top:10px;
}

.accordion-item  button.current-verb{
    background-color: #0c63e4;
    color: #fff;
}


.tense-item button.accordion-button{
    background-color: #f2e5ff;
    color: #c24cf0;
}

.tense-item  button.current-verb{
    background-color: #c24cf0;
    color: #fff;
}

#examples{
    margin-top:25px;
}